canvas {
	position: absolute;

	border-style: solid;
    border-width: 1px;
	border-color: black;
}

#miniMap {
	left : 1050px;
}

#chat_box {
	position: absolute;

	left : 1050px;
	top  : 250px;

	width  : 200px;
	height : 400px;

	border-style: solid;
    border-width: 1px;
	border-color: black;
}

#chat_output {
	width  : 200px;
	height : 375px;

	border-style: solid;
    border-width: 1px;
	border-color: black;
}

#chat_input {
	width  : 200px;
	height : 25px;

	border-style: solid;
    border-width: 1px;
	border-color: black;
}


